MONGODB_URI=mongodb+srv://USER:PASSWORD@cluster0.example.mongodb.net/whisper
CLERK_SECRET_KEY=sk_live_or_test_xxxxxxxxxxxxxxxxx
FRONTEND_URL=https://your-web-app.vercel.app
NODE_ENV=production
PORT=3000
